@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ecf0f1;
    height: 100vh;
    overflow-x: hidden;
}

main > section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h2{
    font-size: 2em;
    margin-bottom: 30px;
}

/*Header*/
header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    overflow-x: hidden;

    padding: 1.5rem 1.0rem;
    margin-bottom: 50px;
    
    background-color: #3498db;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288), 3, 3;
}

header > section > nav > ul > li{
    display: inline;
    margin: 0px 10px;
}

header > section > nav > ul > li > a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(184, 184, 184);
}

header > section > nav > ul > li > a:hover{
    color: white;
    transition: 3 ease;
}

/*Main basics*/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Section graph per category*/
#totalPerCategory{
    margin-bottom: 50px;
}

#totalPerCategory > h1{
    margin-bottom: 20px;
    font-size: 2em;
}


/*Section newest expenses*/
#expensesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#addExpenseButton {
    align-self: flex-start;
    margin-bottom: 20px;
}

#expensesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.expense-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    padding: 1rem;
    background-color: #4aacee;
    box-shadow: 10px 7px 20px rgba(0, 0, 0, 0.075);
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    overflow: hidden; /* Para evitar que o conteúdo extrapole o card */
}

.expense-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    font-size: 1.5em;
}

.expense-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}

.expense-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.expense-description {
    color: grey;
    font-size: 0.95em;
}

.expense-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense-date {
    margin-bottom: 15px;
}

.expense-amount {
    color: rgb(55, 209, 55);
}