@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    background-color: #ecf0f1;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

button{
    background-color: #3498db;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

/*Header*/
header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    overflow-x: hidden;

    padding: 1.5rem 1.0rem;
    margin-bottom: 50px;
    
    background-color: #3498db;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288), 3, 3;
}

header > section > nav > ul > li{
    display: inline;
    margin: 0px 10px;
}

header > section > nav > ul > li > a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(184, 184, 184);
}

header > section > nav > ul > li > a:hover{
    color: white;
    transition: 3 ease;
}

/*Main*/
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Search bar container*/
#serachBarContainer{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    font-size: 1em;
    border: none;
    margin-bottom: 20px;
}

#serachBarContainer > button{
    font-size: 1em;
    padding: 0.8rem;
}

#searchBar{
    width: 50vw;
    height: 45px;
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    background-color: white;
}

/*Filters*/
#filtersContainer{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

#filtersContainer > div{
    display: flex;
    gap: 10px;
}

#categorySelectList{
    width: 6vw;
    border: none;
    border-bottom: #3498db 2px solid;
    background-color: white;
}

#sortSelectList{
    width: 6vw;
    border: none;
    border-bottom: #3498db 2px solid;
    background-color: white;
}

#categorySelectList > option{
    background-color: green;
    color: green;
}

/*Expenses section*/
#expensesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

#addExpenseButton{
    align-self: flex-start;
}

.expense-card{
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 30px;
    justify-content: center;

    padding: 1rem;
    margin-bottom: 30px;

    background-color: #4aacee;
    box-shadow: 10px 7px 20px rgba(0, 0, 0, 0.075);
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 10px;
}

.expense-header{
    display: flex;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    justify-content: center;
    font-size: 1.5em;
    align-items: center;
    margin-bottom: 8px;
}

.expense-body{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.expense-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense-title{
    justify-self: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.expense-description{
    color: grey;
    font-size: 0.95em;
}

.expense-date{
    margin-bottom: 15px;
}

.expense-amount{
    color: rgb(55, 209, 55);
}

/*Add modal*/
#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 999;
}

#addModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #4aacee;
    z-index: 1000;
    display: none;
    transition: 0.5s ease;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.modalTitle {
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: black;
}

.inputGroup input {
    text-align: center;
    border: 1px solid #3498db;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
}

.saveButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.saveButton:hover {
    background-color: #2980b9;
}

/* Responsividade */
@media (min-width: 600px) {
    .inputsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: space-between;
    }

    .inputGroup {
        flex: 1 1 calc(50% - 20px);
    }

    .saveButton {
        flex: 1 1 100%;
        margin-top: 0;
    }
}